//this section is 2nd section of home page created as itinfo.scss


.itsection{
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: white;
    background: $black;
    @include media("<=phone"){
        padding-bottom: 25rem;
    }
    .space-between.block{
        @include media('<=phone'){
            display: block;
         }
        .discription{
            position: relative;
            width: 100%;

            @include media('<=phone'){
                padding-top: 0rem;
             }
            .discription-span{
              overflow: hidden;
              display: block;
              position: relative;
              width: 100%;
              height: 20px;
                .discription-spaninside{
                    line-height: 1.5;           
                    font-size: 1rem;
                    color: $orange;
                    position: absolute;
                @include media('<=phone'){
                    width: 100%;
                    font-size: 1rem;
                    line-height: 1rem;
                    
                 }
                }
            }

            span{
                div{
                    overflow: hidden;
                    width: 100%;
                    height: 30px;
                    position: relative;
                    span{
                        position: absolute;
                        mix-blend-mode: difference;
                        font-size: 1.5rem;
                        line-height: 1.5;
                        color: $black;
                        @include media("<=phone"){
                            color: $black;
                            font-size: 1rem;
                            line-height: 1.53;
                        }
                    }
                }
               
            }
           
        }
        .itimg{   
            width: 120%;
            justify-content: flex-end;
            display: inline-block;
            background-size: cover;
            overflow: hidden;
            background-repeat: no-repeat;
            @include media('<=phone'){
                display: flex;
              justify-content: flex-start;
             }
             .itimgwidth{
                width: 80%;
                opacity: 0;
                display: block;
                text-align: right;
                background-size: cover;
                overflow: hidden;
                background-repeat: no-repeat;

                svg{
                   
                    background-size: cover;
                    @include media('<=phone'){
                        display: block;
                        width: 75%;
                        text-align: center;
                    }
                
                }
            }
            
           
        }
    }



}
.exactly{
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: inherit;
    @include media("<=phone"){
        padding-bottom: 25rem;
        border-bottom: 1px solid $orange;
        
          
    }
    .space-between.block{
        @include media('<=phone'){
            display: block;
           
         }
        .discriptionn{
            position: relative;
            width: 60%;
            @include media('<=phone'){
                padding-top: 0rem;
                width: 100%;
             }
            .discription-span{
                width: 95%;
                line-height: 135%;           
                font-size: 1rem;
                color: $orange;
                display: inline-block;
                margin-bottom: 4rem;
                @include media('<=phone'){
                    width: 100%;
                    font-size: 1rem;
                    line-height: 1rem;
                    
                 }
                 
            }
            span{
                div{
                    overflow: hidden;
                    width: 100%;
                    height: 30px;
                    position: relative;
                    span{
                    opacity: 0;

                        position: absolute;
                        font-size: 1.5rem;
                        line-height: 1.5;
                        color: $black;
                        @include media("<=phone"){
                            color: $black;
                            font-size: 1rem;
                            line-height: 1.53;
                        }
                    }
                }
               
            }
           
        }
        .itimg{ 
            margin-top: 8rem;  
            width: 40%;
            justify-content: center;
            display: flex;
            @include media('<=phone'){
                display: flex;
              justify-content: flex-start;
              width: 100%;
             }
            span{
            
                width: 100%;
                color: $orange;
                font-size: 2rem;
                line-height: 3.5rem;
                font-weight: 600;
                display: flex;
                justify-content: center;
                ul{
                    position: relative;
                    li{
                        list-style: none;
                        &:after{
                            content:'';
                            position: absolute;
                            width:0;
                            height:2px;
                            display:block;
                            margin-top: 1px;
                            right: 0;
                            background:$black;
                            transition: 0.4s ease;
                            color: $white;
                        }
                        &:hover{
                            color: $black;
                            text-shadow: 2px 2px 50px #a3a3a385;
                            &:after{
                                width:100%;
                                left:0;
                                background:$black;
                            }
                        }
                    }
                }
                @include media('<=phone'){
                    display: block;
                    height: 500px;
                    width: 85%;
                 }
                 
                
            }
            
        
        }
    }



}

.creativity{
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: white;
    background: $black;
    @include media("<=phone"){
        padding-bottom: 25rem;
    }
    .space-between.block{
        @include media('<=phone'){
            display: block;
           
         }
        .discription{
            position: relative;
            width: 100%;
            opacity: 0;

            @include media('<=phone'){
                padding-top: 0rem;
             }
            .discription-span{
                display: block;
                width: 95%;

                span{
                    position: absolute;
                    width: 95%;
                    line-height: 135%;           
                    font-size: 1rem;
                    color: $orange;
                    display: inline-block;
                    margin-bottom: 4rem;
                    @include media('<=phone'){
                        width: 100%;
                        font-size: 1rem;
                        line-height: 1.52;
                        
                    }
                }
                 
            }
            span{
                mix-blend-mode: difference;
                font-size: 1.5rem;
                color: $black;
                @include media("<=phone"){
                    color: $black;
                    font-size: 1rem;
                    line-height: 1.5;
                }
            }
           
        }
        .itimg{   
            width: 120%;
            justify-content: space-between;
            display: inline-block;
            background-size: cover;
            overflow: hidden;
            background-repeat: no-repeat;
            @include media('<=phone'){
                display: flex;
                justify-content: center;
             }
             .itimgigcreativity{
            
                width: 70%;
                opacity: 0;
                right: 0;
                display: block;
                text-align: left;
                background-size: cover;
                overflow: hidden;
                background-repeat: no-repeat;
                
                @include media('<=phone'){
                    display: block;
                    height: 500px;
                    width: 85%;
                 }
                    img{
                      
                        background-origin: content-box;
                      /*  &:hover{
                           box-shadow: 0px 39px 77px 10px rgba(0, 0, 0, 0.100);
                           transition: box-shadow 0.2s ease-in-out;
                            
                        }*/
                        @include media('<=phone'){
                            display: block;
                            width: 55%;
                            text-align: center;
                        }
                        
                    }
            }
            
        
        }
    }



}